
/*Estilos para el formulario de datos*/
.colorful-form {
  max-width: 580px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.form-input {
  width: 97%;
  padding: 6px;
  border: none;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
}

textarea.form-input {
  height: 100px;
}

.form-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ff6f69;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #ff5f59;
}


/*Estilos para el tooltip*/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: pointer;
}

.tooltiptext {
  visibility: hidden;
  width: 130px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/*Estilos para la tabla de frecuencias*/
.tabla-frecuencias {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tabla-frecuencias th,
.tabla-frecuencias td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.tabla-frecuencias th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.tabla-frecuencias tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tabla-frecuencias tr:hover {
  background-color: #f1f1f1;
}

.tabla-frecuencias thead {
  background-color: #4CAF50;
  color: black;
  text-align: center !important;
}